@charset "UTF-8";
body {
  background: whitesmoke;
}

header {
  background: rgba(177, 35, 35, 0.808);
  width: all;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid black;
}
header h1 {
  color: #332e2e;
  font-style: italic;
}

.tablas {
  width: 80%;
  margin: auto;
  padding: 100px;
}
.tablas .thead-yellow {
  background: rgba(177, 35, 35, 0.808);
}
.tablas .descripción {
  font-size: 10px;
}

.anuncios {
  width: 500px;
  height: auto;
  padding: 15px;
  background: darkslategrey;
  color: white;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}
.anuncios .tarjeta {
  border-bottom: 1px solid whitesmoke;
  font-size: 20px;
  padding-left: 15px;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  header h1 {
    font-size: 30px;
  }

  .tablas {
    width: all;
    height: auto;
    margin: auto;
    padding: 0;
    padding-top: 10px;
    overflow-x: scroll;
  }

  .tablas .thead-yellow {
    padding-left: 0;
    padding-right: 0;
  }

  .anuncios {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .tarea {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}